body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
}
header{
    margin-top: 40px;
    margin-bottom: 40px;
}
nav{
    position:relative;
}
.airbnb-logo{
    position:absolute;
    color:rgb(255, 119, 165);
    left:18px
}
nav ul {
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    text-decoration: none;
    list-style: none;
}
nav ul li {
    padding: 0 10px;
}
.header-container {

}
.background-card{
    background-image: url("images/vacation-house.jpg");
    background-repeat: no-repeat;
    z-index:1;
    border-radius: 8px;
}
.search-card{
    z-index:2;
    max-width: 420px;
    width: 100%;
    height: 500px;
    padding: 2em;
    margin:1em;
    border-radius: 8px;
    background: white;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
}
.search {
    border: 2px solid gainsboro;
    border-radius: 8px;
    padding: 0.5em 1em;
    width: 200px;
    background: white;
    color: black;
    font-family:inherit;
    font-size: 16px;
}
.location {
    
}
.check-in{
    
    float:left;
}
.check-out{
    
}
.adults{
    
    float: left;
}
.children{
    
}
.search-btn{
    margin-top: 1em
}