/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS RESET*/

body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
}
header{
}
.logo {
}
/* Navigation Bar*/
nav{
    position:relative;
    padding: 10px;
}
.airbnb-logo{
    position:absolute;
    color:rgb(255, 119, 165);
    left:40px;
    top:10px;
}
nav ul {
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    text-decoration: none;
    list-style: none;
}
nav ul li {
    padding: 0 10px;
}

/* Header Cards - Find places Card and Background Card*/
.header-container {
    position: relative;
    height: 90vh;
    margin-bottom: 50px;
}
.background-card{
    z-index: 1;
    border-radius: 8px;
    position: absolute;
    right: 75px;
    text-align: right;
}
.background-card img {
    border-radius: 8px;
}
.background-image {
    max-width: 90%;
    width: 1000px;
    height: 80vh;
    object-fit: cover;
    border-radius: 8px;
}
.search-card{
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 28px;
    max-width: 420px;
    width: 100%;
    height: 430px;
    padding: 2em;
    margin:1em;
    border-radius: 8px;
    background: white;
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
}
.search-card h2 {
    font-weight: bold;
}
.search-card h2, p {
    text-align: left;
    float: left;
}
.search {
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 0.5em 1em;
    width: 200px;
    background: white;
    color: black;
    font-family:inherit;
    font-size: 16px;
    text-align: justify;
}
.location {
}
.check-in{
    float:left;
}
.check-out{
}
.adults{
    
    float: left;
}
.children{
}
.search-btn{
    margin-top: 1em
}
/* Header Cards - Find places Card and Background Card*/

/* Try Hosting Section*/
.hosting {
    margin:5px 25px;
    padding:0 ;
    text-align: center;
    height: 120vh;
    position: relative;
}
.hosting-card{
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.767);
    position: relative;
    height: 100vh;
    padding-top: 50px;
    color: white;
}
.hosting-card h2, span, button {
    display: block;
    padding: 5px 0;
}

.hosting-image img {
    position: absolute;
    bottom: 0px;
    display: block;
    max-width: 100%;
    border-radius: 8px;
    height: auto;
}
/* Try Hosting Section*/

/* Review Section */
.reviews{
    margin: 0;
}
.review-header {
    margin: 5px 25px;
}

.review-card {
    height: 95vh;
    margin: 10px 25px;
}
.review-info {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: left;
    font-size: 0.9em;
    position: relative;
    clear: none;  
}
.review-info > p:first-of-type {
    font-size: 0.9em;
    align-items: flex-end;

}
.review-profile {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 25px 25px;
    grid-template-areas: 
    "p n "
    ". s "
    ;
}
.review-profile-pic{
    width: 3.2em;
    height: auto;
    grid-area: p;
}
.review-profile h4 {
    font-size: 1em;
    grid-area: n;
}
.review-profile p {
    font-size: .75em;
    grid-area: s;
}
.review-image img{
    object-fit: cover;
    max-width: 100%;
    max-height: 75%;
    height: auto;
    border-radius: 8px;
}
/* Review Section */

/* Features Section */
.features {
    height: 80vh;
}
.features-card {
    height: 70vh;
    margin: 0 30px;
}
.features-card-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 1em;
}
.features-card-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.features-card-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* Just Booked*/
.just-booked {
    margin: 0 25px;
    max-height: auto;
}
.just-booked h3 {
    font-size: 1.3em;
    margin: 20px 0;
}
.booked-cards {
    margin: auto 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(400px, 1fr));
    gap: 30px;
    font-family: inherit;
    font-size: 0.9em;
}
.booked-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 90vh;
    border-radius: 8px;
    margin-bottom: 15px;
    
}

.booked-card-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 70%;
    border-radius: 8px;
    object-fit: contain;
}


.booked-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 ;
    font-size: 0.9em;
    position: relative;
    clear: none;
}
.booked-card-content p {
    font-size: 1.1em;
    display: inline-flex;
    margin: 0 0.1px;
}
.booked-card-content i {
    font-size: 85%;
    position: absolute;
    left: 512px;
    bottom: 4px;
}
.booked-card-content h5 {
    font-size: 1em;
    margin: 0 0.1px;
}


.booked-card-info{
    font-size: 0.9em;
    padding: 0;
    margin: 0 ;
    display: flex;
    flex-direction: column;
    gap: 2px;
    clear: none;

}
.booked-card-info > p:first-of-type {
    color: rgb(128, 128, 128);
    margin: 0 0.1px;
}



/* Footer */
.pre-footer {
    margin: 5px 25px;
}
.travel-section{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.travel-links {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
}
.travel-links h6 {
    font-size: 0.9em;
    padding: 0 5px;
    text-decoration: underline;
    cursor: pointer;
}
.travel-links h5 {
    font-size: 0.9em;
    padding: 0 0.3px;

}
.travel-links > h6:last-of-type {
    text-decoration: none;
    font-weight: lighter;
    cursor: default;
}
footer {
    margin: 5px 25px;
    height: 15vh;
}
footer p {
    font-size: 0.85em;
    margin-left: 5px;
}
footer ul {
    margin-left: -27px;
}
footer li {
    padding: 0px;
    margin-right: 20px;
}
footer ul li {
    font-size: 0.85em;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10px 10px 10px 10px;
}
.grid-item1{
grid-row:  1/3;
}
.grid-item2{
    grid-row: 3/5;

}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: ;
    align-items: center;
    
}

.features-card-1 svg {}

@media (max-width: 750px) {
    .background-card{
        display: none;
        visibility: hidden;
    }
    .search-card{
        max-width: 75%;
        text-align: center;
        box-shadow: none
    }
    /* Flip hosting card horizontally at 750*/
    
}