body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
    text-decoration: none;
    list-style: none;
}
nav ul li {
    padding: 0 10px;
}